*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.json linguist-language=JSON
*.css linguist-language=CSS
*.html linguist-language=HTML
*.md linguist-language=Markdown
*.py linguist-language=Python
*.sql linguist-language=SQL
*.txt linguist-documentation

